---
import ArrowLeft from '@/components/ArrowLeft.astro';
import ArrowRight from '@/components/ArrowRight.astro';

const testimonials = [1, 2, 3];
---

<div class="flex items-center justify-between border">
  <button
    class="text-muted-foreground rounded-full border border-slate-300 bg-slate-200 p-2 dark:border-slate-700 dark:bg-slate-800"
    id="left-testimonial-button"
  >
    <ArrowLeft />
  </button>
  <div class="relative h-[500px] w-[800px] overflow-hidden border">
    {
      testimonials.map((testimonial, i) => (
        <div class="testimonial absolute h-full w-full border" style={`left: ${i * 100}%;`}>
          <h1>{testimonial}</h1>
        </div>
      ))
    }
  </div>
  <button
    class="text-muted-foreground rounded-full border border-slate-300 bg-slate-200 p-2 dark:border-slate-700 dark:bg-slate-800"
    id="right-testimonial-button"
  >
    <ArrowRight />
  </button>
</div>
<script>
  const leftButton = document.getElementById('left-testimonial-button')!;
  const rightButton = document.getElementById('right-testimonial-button')!;

  const testimonials = document.querySelectorAll<HTMLDivElement>('.testimonial');
  const maxPosition = testimonials.length * 100;

  const slide = (direction: 'LEFT' | 'RIGHT') => {
    testimonials.forEach((testimonial) => {
      let currentPosition = parseInt(testimonial.style.left);
      if (direction === 'RIGHT') {
        currentPosition = (currentPosition - 100) % maxPosition;
      } else if (direction === 'LEFT') {
        currentPosition = (currentPosition + 100) % maxPosition;
      }
      testimonial.style.left = `${currentPosition}%`;
    });
  };

  leftButton.addEventListener('click', () => slide('LEFT'));
  rightButton.addEventListener('click', () => slide('RIGHT'));
</script>
